# Игнорировать папку node_modules
node_modules/

# Игнорировать бинарные файлы и артефакты сборки
bin/
dist/
*.exe
*.out

# Игнорировать папку vendor (если используется)
vendor/

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи и временные файлы
*.log
*.tmp

# Игнорировать кэш Go
/.cache/
/.go/